@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="slider">
    <div class="slides">
        <div class="slide"><img src="images/1920-X-819-new.jpg" alt="Image 1"></div>
        <div class="slide"><img src="~/images/Why-Should-Hotels-Care-About-Reducing-their-Carbon-Footprint-1170x490.jpg" alt="Image 2"></div>
       @*  <div class="slide"><img src="image3.jpg" alt="Image 3"></div>
        <!-- Add more slides with images --> *@
    </div>
    <button class="prev" onclick="moveSlide(-1)">&#10094;</button>
    <button class="next" onclick="moveSlide(1)">&#10095;</button>
</div>

<script src="~/js/banner.js"></script>
<link rel="stylesheet" type="text/css" href="~/css/site.css">
